<!DOCTYPE html>
<html>
    <head>
        <title>Flask and SQLite </title>
    </head>
    <body>
        <form method="POST">
            <label>Enter Name:</label>
			<input type="name" name="title" placeholder="Enter the title" required></br>
			<label>Enter Email:</label>
			<input type="name" name="author" placeholder="Enter the author" required></br>
			<label>Enter Category:</label>
			<!-- here insert a scrolllink -->
			<input type="name" name="category" placeholder="Enter the category" required></br>
			<label>Enter Heading:</label>
			<input type="name" name="heading" placeholder="The book bundle" required></br>
			<input type="submit" value="submit" /></br>
		</form>
	</body>
</html>